
.icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	fill: inherit;
	stroke: inherit;
}



.icon-Arrow_Dropdown {
	width: 1.5em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-Arrow_back {
	width: 0.5833333333333334em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-Arrow_next {
	width: 0.5833333333333334em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-Logo {
	width: 2em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-Search {
	width: 1em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-close_icon {
	width: 1em;
	fill: currentColor;
	stroke: currentColor;
  }


.icon-mail_icon {
	width: 1.2857142857142858em;
	fill: currentColor;
	stroke: currentColor;
	}
	
.icon-magnifier {
	stroke: #666;
}
