/www/public/config_src/node_modules
/www/backstop_data
/www/node_modules
/www/public/config_src
/www/public/hot
/www/public/storage
/www/storage/*.key
/www/vendor
/www/.idea
/www/.vscode
/www/.vagrant
/www/Homestead.json
/www/Homestead.yaml
/www/npm-debug.log
/www/yarn-error.log
/www/.env
/www/.phpunit.result.cache
node_modules
/node_modules
/vendor
vendor
.DS_Store
*.sql
