@import './_variables.scss';

@function em($pixels, $context: $base-font-size) {
  @return #{$pixels/$context}em
}
@function rem($pixels) {
  @return #{$pixels/$base-font-size}rem
}
@mixin base-font-settings {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $text-color--base;
    font-size: #{$base-font-size}px;
    line-height: $base-line-height;
    @include body-font;
    @media screen and (max-width: $break-md) {
//      font-size: $base-font-size--at-md;
    }
}
@mixin body-font {
    font-family: $body-font-family;
}
@mixin head-font {
    font-family: $head-font-family;
}
@mixin layout {
    padding-left: $layout-padding;
    padding-right: $layout-padding;
    margin: 0 auto;
    max-width: $base-max-width;
    width: $layout-width;
    @media screen and (max-width: $break-md) {
        padding-left: $layout-padding--md;
        padding-right: $layout-padding--md;
    }
}
@mixin layout-inner {
    margin-left: $gutter;
    margin-right: $gutter;
    @media screen and (max-width: $break-md) {
        margin-left: $layout-padding--md;
        margin-right: $layout-padding--md;
    }
}
@mixin clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
@mixin abs-center {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
@mixin abs-fill {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin button-reset {
    appearance:  none;
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    &, &:focus, &:active {
        outline: none;
        -webkit-touch-callout: none;
        -webkit-focus-ring-color: transparent;
    }
}
@mixin input-reset {
    appearance: none;
    background: none;
    border-radius: 0;
    border: none;
    color: inherit;
    display: inline-block;
    font: inherit;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    &, &:focus, &:active {
        outline: none;
        -webkit-touch-callout: none;
        -webkit-focus-ring-color: transparent;
    }
}

@import './_icons.scss';
