@import '../../common/variables';
@import './blue-panel.sass';

.df-text-main-16px, .df-text-small-12px {
  font-family: 'HyundaiSansText';
}
.section-top {
  margin-bottom: 65px;
}
.top-bg {
  background-image: url('/images/promo1/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 28px;
}
.main-img {
  position: relative;
  height: 545px;
  overflow: hidden;
  &-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-image: url('/images/promo1/main.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
  }
}
.section-title {
  position: absolute;
  top: 32px;
  left: 40px;
  line-height: 55px;
}
.section-label {
  color: #fff;
  padding: 16px 32px 12px 43px;
  background-color: #002C5F;
  position: absolute;
  left: 0;
  bottom: 32px;
  &-top {
    margin-bottom: 16px;
  }
  &-bottom {
    padding-top: 11px;
    padding-right: 50px;
    border-top: 1px solid #37608D;
  }
}
.df-back-link {
  margin-bottom: 28px;
}
.section-product {
  margin-bottom: 20px;
}
.df-download-link {
  color: #002C5F;
  font-size: 16px;
  &:hover, &:focus {
    color: #002C5F;
  }
}
.product-info {
  background-color:#F6F3F2;
  margin-bottom: 16px;
  padding: 28px 80px 30px;
  &-img {
    text-align: center;
  }
  &-price {
    color: #666;
    margin-bottom: 32px;
    h5 {
      font-weight: 400;
    }
  }
  &-title {
    text-transform: uppercase;
  }
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 6px;
    button {
      width: calc(50% - 4px);
      margin-bottom: 8px;
      padding: 8px 0;
    }
    a {
      width: calc(50% - 4px);
      margin-bottom: 8px;
      padding: 8px 0;
    }
  }
}
.product-desc {
  width: 800px;
  margin: 0 auto 60px;
}
.star {
  width: 16px;
  height: 16px;
  background-color: #c4c4c4;
  display: inline-block;
  margin-right: 16px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  vertical-align: top;
  line-height: 22px;
  font-size: 16px;
  position: absolute;
  top: 2px;
  left: 0;
}
.product-desc-footer {
  position: relative;
  width: 800px;
  margin: 40px auto 56px;
  &-text {
    display: inline-block;
    padding-left: 32px;
  }
}
.product-info-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-info-mobile {
  display: none;
}

@media (max-width: 1599px) {
  .main-img {
    height: 440px;
  }
}

@media (max-width: 1024px) {
  .section-title {
  }
  .section-label {
    bottom: 80px;
  }
  .product-info {
    padding: 23px 0px 30px;
  }
  .df-button--small {
    padding: 8px 0px;
  }
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
  .product-desc {
    width: 512px;
    margin: 40px auto 60px;
  }
  .top-bg {
    padding-top: 31px;
  }
  .df-back-link {
    margin-bottom: 24px;
  }
  .product-desc-footer {
    margin: 32px auto 56px;
  }
}

@media (max-width: 767px) {
  .section-title {
    width: 45%;
    line-height: 40px;
    br {
      display: none;
    }
  }
  .section-label {
    bottom: 48px;
  }
  .section-top {
    margin-bottom: 40px;
  }
  .top-bg {
    padding-top: 14px;
  }
  .df-back-link {
    margin-bottom: 12px;
  }
  h4 {
    font-size: 20px;
    line-height: 24px;
  }
  .product-desc {
    width: 512px;
    margin: 36px auto 40px;
  }
  .product-info-img {
    justify-content: center;
  }
  .product-info-title, .product-info-price {
    display: none;
  }
  .product-info-mobile {
    display: block;
    .product-info-title, .product-info-price {
      display: block;
    }
  }
  .star {
    top: 5px;
  }
  .section-label-top {
    margin-bottom: 8px;
  }
  .section-label-bottom {
    padding-top: 8px;
  }
  .product-info-img {
    margin-bottom: 25px;
  }
}

@media (max-width: 640px) {
  .main-img {
    height: 120vw;
    &-inner {
      background-image: url('/images/promo1/main-md.png');
    }
  }
  .section-title {
    width: 50%;
  }
  .product-desc {
    width: 100%;
    margin-bottom: 32px;
  }
  .section-title {
    left: 16px;
  }
  .section-label {
    padding: 8px 16px 8px 16px;
    &-bottom {
      padding-right: 40px;
    }
  }
  .product-info-buttons button {
    font-size: 14px;
  }
  .product-info {
    margin-bottom: 27px;
  }
  .product-desc-footer-text {
    font-size: 14px;
    line-height: 21px;
    padding-left: 32px;
  }
  .main-img {
    background-position: center left;
  }
  .product-info-buttons button {
    padding: 6px 0;
  }
}

@media (max-width: 500px) {
  .section-title {
    width: 75%;
  }
}

@media (max-width: 375px) {
  .section-title {
    width: 90%;
  }
  .main-img {
    background-position: center center;
  }
}
